$meli-yellow: #FFE600;
$meli-dark: #000;
$meli-dark-gray: #333333;
$meli-medium-gray: #666666;
$meli-gray: #999999;
$meli-light-gray: #EEEEEE;
$meli-blue: #3483FA;
$meli-white: #FFF;

$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;
