@import 'base';
@import 'variables';
@import '../components/SearchBox/styles';
@import '../components/ProductList/styles';
@import '../components/ProductListItem/styles';

.header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: $meli-yellow;

    + * {
        margin-top: $spacing-16;
    }

    &__logo {
        padding-top: $spacing-8;
        padding-right: 34px;
    }
}



.body-content {
    padding: $spacing-48;
}

.breadcrumb {
    position: relative;
    float: left;
    padding: $spacing-16 0;
    color: $meli-gray;

    &__anchor {
        padding: 7px;
    }
}

.product-body {
    display: inline-flex;
    margin-top: 10px;

}

.product-image {
    position: relative;
}

.product-image img {
    min-width: 680px;
}


.product-resume {
    padding: $spacing-32;
}

.product-resume p small {
    padding: 0 4px;
}

.product-title {
    margin: $spacing-16 0 $spacing-32;
    font-size: 24px;

}

.product-resume__h2 {
    font-size: 46px;
    margin: $spacing-32 0;
}

.product-resume__button {
    font-size: 20px;
    border-radius: 4px;
    background: $meli-blue;
    padding: 20px;
    border: 0;
    color: $meli-white;
    width: 100%;
}

.description__h3 {
    padding: $spacing-32;
    font-size: 28px;

}

.description__p {
    font-size: $spacing-16;
    padding-bottom: $spacing-32;
}


.meli-breadcrum-list-item
{

    &:after {
        content: "  > "
    }
    &:last-child:after {
        content: '';
    }
}

.h1__welcome {
    margin-top: $spacing-64;
}
